
*{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;

}
body{
  height: 100vh;
  overflow: hidden;
}

.game-container{
  width: 400px;
  height: 400px;
  border: 1px solid red;
  border-radius: 30px;
}
.game-board{
  width: 400px;
  height: 400px;
  border: 1px solid red;
  padding: 40px;
}
.greenBox, .redBox, .yellowBox, .blueBox{
  width: 140px;
  height: 140px;
  border-radius: 20px;
}
.greenBox{
  background-color: green;
}
.redBox{
  background-color: red;
}
.yellowBox{
  background-color: yellow;
}
.blueBox{
  background-color: blue;
}
.boxes{
  height:400px;
  padding: 4px;
  
}